<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div align="center" style="height: 60px;">
    <button ion-fab top center large (click)='getBalances()'>
      <ion-icon name="refresh"></ion-icon>
    </button>
  </div>

  <ion-item-divider></ion-item-divider>
  <!-- Coinmarketcap -->
  <div *ngIf="cmcGenerated" align="center">
    <strong>CoinMarketCap</strong>
    <p> {{ cmcTotalUSD.toLocaleString("en", {style: "currency", currency: "USD"}) }} </p>
    <p> {{ cmcTotalEUR.toLocaleString("en", {style: "currency", currency: "EUR"}) }} </p>
    <p>
      <i class="fa fa-btc"></i>{{ cmcTotalBTC.toFixed(8) }} </p>
    <em> {{ cmcGeneratedDate }}</em>
  </div>
  <div *ngIf="!cmcGenerated" align="center">
    <p>
      <em> Coinmarketcap: {{ cmcTimerValue }}</em>
    </p>
  </div>

  <ion-item-divider></ion-item-divider>
  <!-- Cryptocompare -->
  <div *ngIf="ccGenerated" align="center">
      <strong>CryptoCompare</strong>
      <p> {{ ccTotalUSD.toLocaleString("en", {style: "currency", currency: "USD"}) }} </p>
      <p> {{ ccTotalEUR.toLocaleString("en", {style: "currency", currency: "EUR"}) }} </p>
      <p>
        <i class="fa fa-btc"></i>{{ ccTotalBTC.toFixed(8) }} </p>
      <em> {{ ccGeneratedDate }}</em>
    </div>
    <div *ngIf="!ccGenerated" align="center">
      <p>
        <em> CryptoCompare: {{ ccTimerValue }}</em>
      </p>
    </div>

  <ion-item-divider></ion-item-divider>
  <!-- Global -->
  <div *ngIf="globalGenerated" align="center">
      <strong>CoinMarketCap Globals</strong>
      <p> Total Market Cap - {{totalMarketCap.toLocaleString("en", {style: "currency", currency: "USD"})}} </p>
      <p> Total 24h volume - {{total24hVolume.toLocaleString("en", {style: "currency", currency: "USD"})}} </p>
      <p>
          <i class="fa fa-btc"></i> dominance: {{totalBTCDominance}}% </p>
      <em> {{ globalGeneratedDate }}</em>
    </div>
    <div *ngIf="!globalGenerated" align="center">
      <p>
        <em> Coinmarketcap Globals: {{ globalTimerValue }}</em>
      </p>
    </div>

</ion-content>
