<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<div align="center" style="height: 60px;">
    <ion-fab top center>
      <button ion-fab large (click)='getBalances()'><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</div>

<div *ngIf="generated" align="center">
  <p> {{ totalUSD.toLocaleString("en", {style: "currency", currency: "USD"}) }} </p>
  <p> {{ totalEUR.toLocaleString("en", {style: "currency", currency: "EUR"}) }} </p>
  <p> <i class="fa fa-btc"></i>{{ totalBTC.toFixed(8) }} </p>
  <p> <em> {{ generatedDate }}</em> </p>
</div>
<div *ngIf="!generated" align="center">
  <p> <em> {{ timerValue }}</em> </p>
</div>

</ion-content>
